<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script type="text/javascript" src="./vue.js"></script>
	<title>V-show</title>
</head>

<body>

	<div id="app">
		<span>filters</span>
		<input v-model="message" />
		<hr />
		<p v-bind:title='title|capital'>Process value : <span>{{message|capital}}</span></p>
		<hr/>
		<span>computed</span>
		<input v-model="message" />
		<hr />
		<p>Process value : <span>{{computed_message}}</span></p>
	</div>

	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				message: 'default none',
				title: 'title set in title',
			},
			filters: {
				capital: function (v) {
					return v.toUpperCase()
				}
			},
			computed:{
				computed_message:function(){
					return this.message.split('').reverse().join('')
				}
			},
		})
	</script>
</body>

</html>