<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script type="text/javascript" src="./vue.js"></script>
	<title>V-show</title>
</head>

<body>

	<div id="app">
		<span>filters</span>
		<input v-model="message" />
		<hr />
		<p v-bind:title='title|capital'>Process value : <span>{{message|capital}}</span></p>
		<hr/>
		<span>computed</span>
		<input v-model="message" />
		<hr />
		<p>Process value : <span>{{computed_message}}</span></p>
		<hr />
		<span>two way data exchange computed and data</span>
		<div class="frame">
			<p>First Name : </p> <input v-model="first_name"/>
			<p>Family Name : </p> <input v-model="family_name"/>
			<div class="line">
				<p>Full Name : </p> <input v-model="full_name" />
			</div>
		</div>

	</div>

	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				message: 'default none',
				title: 'title set in title',
				first_name: 'Jack',
				family_name: 'Supak',
			},
			filters: {
				capital: function (v) {
					return v.toUpperCase()
				}
			},
			computed:{
				computed_message:function(){
					return this.message.split('').reverse().join('')
				},
				full_name:{
					get:function(){
						return this.first_name+' '+this.family_name
					},
					set:function(v){
						var arr = v.split(' ')
						this.first_name = arr[0]
						this.family_name = arr[arr.length-1]
					},
				}
			},
		})
	</script>
</body>

</html>